:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

* {
  border: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 2.5rem;
  color: var(--very-dark-blue);
}

h2 {
  font-size: 1.5rem;
  color: var(--very-dark-blue);
}

h3 {
  color: var(--very-dark-blue);
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 1.1rem;
  font-weight: 400;
}

h5 {
  font-size: 0.8rem;
  font-weight: 500;
}

p {
  color: var(--grayish-blue);
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 8px 5px #ccc;
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
}

.container {
  margin: 0 10%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.logo {
  position: relative;
  z-index: 10;
  display: flex;
  justify-items: flex-start;
}

.toggle {
  display: none;
  position: absolute;
  top: 20px;
  right: 5%;
  width: 30px;
  height: 30px;
  background-image: url(./images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  z-index: 10;
  cursor: pointer;
}

.toggle.active {
  background: url(./images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.nav-link {
  margin: 0 25px;
  text-transform: uppercase;
  color: var(--very-dark-blue);
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: var(--soft-red);
}

.login.nav-link {
  background-color: var(--soft-red);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 2px 5px #ccc;
}

.login.nav-link:hover {
  color: var(--soft-red);
  background-color: #fff;
  border: 2px solid var(--soft-red);
}

/* intro */
#intro {
  margin-top: 100px;
}

.bookmark {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn-bookmark {
  display: flex;
}

.bookmark-one {
  color: #fff;
  background-color: var(--soft-blue);
  margin-right: 10px;
}

.bookmark-one:hover {
  color: var(--soft-blue);
  background-color: #fff;
  border: 2px solid var(--soft-blue);
}

.bookmark-two {
  color: var(--very-dark-blue);
}

.bookmark-two:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}

.bookmark-img img {
  margin-top: -30px;
  max-width: 100%;
}

/* Features */
#features {
  margin-top: 10rem;
}

.features-intro {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 0 270px;
}

.tab-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10%;
  border-bottom: 2px solid var(--grayish-blue);
}

.tab-head {
  outline: none;
  background-color: #fff;
  color: var(--grayish-blue);
  padding: 1rem 0;
  font-size: 1rem;
  display: block;
  cursor: pointer;
}

.tab-head:hover {
  color: hsl(0, 94%, 66%);
}

.tab-head.active {
  color: var(--very-dark-blue);
  border-bottom: 3px solid var(--soft-red);
}

.tab-body {
  padding: 3rem 0;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  display: flex;
  flex-direction: row;
}

.tab-content img {
  max-width: 100%;
}

.tab-content > div {
  padding: 3rem 4rem;
}

.tab-content > div p {
  font-size: 0.9rem;
}

.btn.tab-button {
  box-shadow: none;
}

.tab-button {
  color: #fff;
  background-color: var(--soft-blue);
}

/* Extension */
#pricing {
  margin-top: 5rem;
}
.extension-content {
  display: grid;
  place-items: center;
  padding: 0 250px;
  text-align: center;
}

.boxes {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 100px;
}

.box {
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.box p {
  margin-top: -15px;
  font-size: 0.8rem;
}

.box.box-two {
  margin-top: 50px;
}

.box.box-three {
  margin-top: 100px;
}

.btn.btn-extension {
  margin-top: 20px;
  display: inline;
  color: #fff;
  background-color: var(--soft-blue);
  box-shadow: none;
}

.btn.btn-extension:hover {
  color: var(--soft-blue);
  background-color: #fff;
  border: 2px solid var(--soft-blue);
}

/* FAQ */
.faqs {
  display: grid;
  place-items: center;
  margin-bottom: 100px;
}
.questions {
  display: grid;
  place-items: center;
  text-align: center;
}

.questions p {
  text-align: center;
  max-width: 500px;
}

.faq {
  max-width: 700px;
  border-bottom: 1px solid var(--grayish-blue);
  cursor: pointer;
}

.faq.active .answer {
  max-height: 300px;
  margin-top: -20px;
}

.faq.active img {
  transform: rotate(180deg);
  color: var(--soft-red);
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question h3:hover {
  color: var(--soft-red);
}

.answer {
  max-height: 0;
  overflow: hidden;
}

/* contact-us */
#contact-us {
  background-color: var(--soft-blue);
  margin-left: -10px;
  margin-right: -8px;
}

.contact {
  padding: 50px;
  display: grid;
  place-items: center;
  color: #fff;
  text-align: center;
  max-width: 100%;
}

.contact-header-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.contact-header-2 {
  color: #fff;
  font-size: 2rem;
  width: 500px;
}

.enter {
  display: flex;
}

.enter > div {
  position: relative;
  display: flex;
}

.email {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 20px;
  width: 350px;
  font-size: 1rem;
}

.email:invalid {
  outline: none;
  border: 2px solid var(--soft-red);
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
}

#error {
  position: absolute;
  bottom: -20px;
  padding: 5px;
  font-size: 0.7rem;
  background-color: var(--soft-red);
  width: 350px;
  font-style: italic;
  text-align: left;
}

.contact-me {
  color: #fff;
  background-color: var(--soft-red);
  box-shadow: none;
  border-radius: 5px;
}

.contact-me:hover {
  color: var(--soft-red);
  background-color: #fff;
  border: 2px solid var(--soft-red);
  font-weight: 500;
}

/* final */
.final {
  background-color: var(--very-dark-blue);
  margin-left: -10px;
  margin-right: -8px;
}

.final .logo.bottom {
  margin-top: -1px;
}

.bottom {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.bottom .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 50px;
}

.bottom .navbar-nav .nav-link {
  font-weight: 400;
  color: #fff;
}

.bottom .navbar-nav .nav-link:hover {
  color: var(--soft-red);
}

.social {
  margin-right: 40px;
  cursor: pointer;
}

.social-two {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.modal-box {
  height: 105vh;
  position: relative;
  background-color: var(--very-dark-blue);
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-body .navbar-nav {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body .navbar-nav .nav-item {
  padding: 30px 0;
  border-top: 1px solid white;
  width: 80%;
  text-align: center;
}

.modal-body .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 5px;
  font-weight: 400;
}

.modal-body .navbar-nav .nav-link.login-m {
  border: 3px solid white;
  border-radius: 5px;
  padding: 10px 100px;
  font-weight: 500;
}

.modal-body .socials {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 360px) and (max-width: 768px) {
  .container {
    margin: 0 5%;
  }

  .heading .navbar-nav {
    display: none;
  }

  .logo {
    width: 200px;
    z-index: 1;
  }

  .toggle {
    display: block;
  }

  .bookmark {
    grid-template-columns: 1fr;
  }

  .bookmark-content {
    text-align: center;
    grid-row: 2;
    order: 2;
  }

  .bookmark-img {
    grid-row: 1;
    order: 1;
  }

  .bookmark-content h1 {
    font-size: 2rem;
  }

  .btn-bookmark {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  #features {
    margin-top: 5rem;
  }

  .features-intro {
    padding: 0;
  }

  .tab-header {
    grid-template-columns: 1fr;
  }

  .tab-head {
    width: 100%;
    max-width: 100%;
    border-top: 1px solid var(--grayish-blue);
  }

  .tab-head.active {
    width: 100%;
  }

  .tab-content.active {
    flex-direction: column;
  }

  .tab-content > div {
    padding: 50px 0;
    text-align: center;
  }

  .tab-button {
    display: none;
  }

  #pricing {
    margin-top: 0;
  }

  .extension-content {
    padding: 0;
  }

  .boxes {
    margin-top: 5rem;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .box.box-three {
    margin-top: 50px;
  }

  .questions h2 {
    font-size: 1.7rem;
  }

  .contact {
    padding: 50px 0;
  }

  .contact-header-2 {
    font-size: 1.5rem;
    font-weight: 400;
    width: 300px;
  }

  .enter {
    flex-direction: column;
  }

  .email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .bottom {
    flex-direction: column;
    padding: 50px 0;
  }

  .bottom .navbar-nav {
    flex-direction: column;
    margin-right: 0;
  }

  .bottom .navbar-nav .nav-item {
    margin: 10px 0;
  }

  .socials {
    margin-top: 20px;
  }

  .modal .container {
    margin: -20px 0;
  }

  .modal.active {
    display: block;
  }
}
